<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Estilos</title>
</head>
<body>
    <h2>Tematica</h2>
    <ul>
        <li>Se ha intentado usar una tematica del punto nemo para hacer esta web, por lo que algunos iconos y paletas de colores estan relacionados con este tema</li>
    </ul>
    <h2>Bootstrap</h2>
    <ul>
        <li>Se ha usado bootstrap en el menu de las paginas</li>
        <li>Se ha usado bootstrap en el footer de las paginas</li>
        <li>Se ha usado bootstrap en la varias paginas con el fin de hacerlo responsive</li>
    </ul>
    <h2>Animaciones</h2>
    <ul>
        <li>Se ha añadido una animacion a la imagen de la pagina principal para mostrar el icono alternativo del equipo</li>
    </ul>
    <h2>Imagen corporativa</h2>
    <ul>
        <li>se ha añadido una imagen corporativa que se usa en index, en nav y en el icono del buscador del usuario (a excepcion de esta pagina)</li>
    </ul>
</body>
</html>
